* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  position: relative;
  background-color: #30343f;
}
h1,
h3,
p,
strong {
  color: #273469;
}
h1,
h3 {
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.game {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 60%;
  height: 70%;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 8px 24px;
}
.player-1 {
  order: -1;
  width: 50%;
  height: 100%;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #fafaff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.player-1-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  font-size: 50px;
}
.score-box-1 {
  width: 50%;
  padding: 10px;
  height: auto;
  border-radius: 10px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: #e4d9ff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.player-2 {
  width: 50%;
  height: 100%;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #e4d9ff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.animated-1 {
  animation: switch-1 0.5s forwards;
}
@keyframes switch-1 {
  0% {
    background-color: #fafaff;
  }
  100% {
    background-color: #e4d9ff;
  }
}
.animated-2 {
  animation: switch-2 0.5s forwards;
}
@keyframes switch-2 {
  0% {
    background-color: #e4d9ff;
  }
  100% {
    background-color: #fafaff;
  }
}
.player-2-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  font-size: 50px;
}
.score-box-2 {
  width: 50%;
  padding: 10px;
  height: auto;
  border-radius: 10px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: #fafaff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 115px;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
.buttons div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
button {
  width: auto;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  background-color: #30343f;
  color: #fafaff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
button:active {
  transform: scale(0.9);
  transition: 0.04s linear;
}
.new-game {
  margin-top: 11px;
}
